name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install dependencies (pip)
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/ops/requirements/ci.txt
          pip install -r backend/ops/requirements/dev.txt

      - name: Lint (black, isort)
        working-directory: backend
        run: |
          black --check .
          isort --check-only .



      - name: Tests
        working-directory: backend
        env:
          DJANGO_SETTINGS_MODULE: config.settings_test
          SECRET_KEY: test
        run: pytest -q
